{% extends "base.html" %}

{% block content %}

<form name="input" action="/{{tem_language}}/{{line}}/day_yield/" method="get">
    <a href="/{{tem_language}}/{{line}}/day_yield/preday"> {{tem_previous_day}} |</a>
    <a href="/{{tem_language}}/{{line}}/day_yield/preshift"> {{tem_previous_shift}} |</a>
    <a href="/{{tem_language}}/{{line}}/day_yield"> {{tem_today}}</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="date" name="querydate" id="querydate" min="2021-01-01">
    <label><input type="radio" name="shift" id="dayshift" value="DAY"> {{tem_day}}</label>
    <label><input type="radio" name="shift" id="nightshift" value="NIGHT"> {{tem_night}}</label>
    <input type="submit" value="Submit">
</form>

<p> {{tem_viewing_data}}{{tem_colon}} {{data_day}} {{data_shift}}</p>
<div style="clear:left">
    <hr color="#8f8f8f" width="50%" align="left" size="1px">
    <p> local record in Lcdled</p>
</div>
<table style="float:left">
    <tr>
        <th style="width:180px">Time</th>
        <th style="width:100px">Start</th>
        <th style="width:100px">Pass</th>
        <th style="width:100px">Fail</th>
        <th style="width:100px">Unlock</th>
    </tr>

    {% for x in lcdled %}
    <tr style="text-align:center">
        <td>{{x.0|zero2space}}</td>
        <td>{{x.1|zero2space}}</td>
        <td>{{x.2|zero2space}}</td>
        <td>{{x.3|zero2space}}</td>
        <td>{{x.4|zero2space}}</td>
    </tr>
    {% endfor %}
</table>


<div style="clear:left">
    <p> &nbsp</p>
    <hr color="#8f8f8f" width="50%" align="left" size="1px">
    <p> local record in Diag</p>
</div>
<table style="float:left">
    <tr>
        <th style="width: 180px">Time</th>
        <th style="width: 100px">Start</th>
        <th style="width: 100px">Pass</th>
        <th style="width: 100px">Fail</th>
        <th style="width: 100px">Unlock</th>
    </tr>

    {% for x in diag %}
    <tr style="text-align:center">
        <td>{{x.0|zero2space}}</td>
        <td>{{x.1|zero2space}}</td>
        <td>{{x.2|zero2space}}</td>
        <td>{{x.3|zero2space}}</td>
        <td>{{x.4|zero2space}}</td>
    </tr>
    {% endfor %}
</table>


<div style="clear:left">
    <p> &nbsp</p>
    <hr color="#8f8f8f" width="50%" align="left" size="1px">
    <p> local record in Keypad</p>
</div>
<table style="float:left">
    <tr>
        <th style="width: 180px">Time</th>
        <th style="width: 100px">Start</th>
        <th style="width: 100px">Pass</th>
        <th style="width: 100px">Fail</th>
        <th style="width: 100px">Unlock</th>
    </tr>

    {% for x in keypad %}
    <tr style="text-align:center">
        <td>{{x.0|zero2space}}</td>
        <td>{{x.1|zero2space}}</td>
        <td>{{x.2|zero2space}}</td>
        <td>{{x.3|zero2space}}</td>
        <td>{{x.4|zero2space}}</td>
    </tr>
    {% endfor %}
</table>

<script>
    function success(text) {
        var querydate = document.getElementById("querydate");
        var ds = document.getElementById("dayshift");
        var ns = document.getElementById("nightshift");
        j = JSON.parse(text);
        querydate.value = `${j.date}`;
        if (j.shift == "DAY") {
            ds.checked = true;
        } else {
            ns.checked = true;
        }
    }

    var request = new XMLHttpRequest();
    request.onreadystatechange = function () {
        if (request.readyState === 4) {
            if (request.status === 200) {
                return success(request.responseText);
            }
        }
    }
    request.open('GET', '/json/today');
    request.send();

</script>

{% endblock content %}