{% extends "base.html" %}

{% block content %}

<p>terminal server ip: 10.1.1.6/10.1.1.1</p>
<hr color="#8f8f8f" width="50%" align="left" size="1px">
<br>

<div style="display:inline-block">
    <span>Lcdled &nbspbst &nbsprf</span>
    <ul>
        <li>open</li>
        <li>close</li>
        <li>state OK</li>
        <li>Ready</li>
        <li></li>
        <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
    </ul>
</div>

<div style="display:inline-block">
    <span>Diag</span>
    <ul>
        <li>open</li>
        <li>close</li>
        <li>state</li>
        <li>power on</li>
        <li>power off</li>
        <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
    </ul>
</div>
<div style="display:inline-block">
    <span>Keypad</span>
    <ul>
        <li>OPEN#</li>
        <li>CLOSE#</li>
        <li>STATE</li>
        <li>MODE1#  &nbsp&nbsp&nbsp&nbsp press all key, reply DONE1#</span></li>
        <li>MODE2#  &nbsp&nbsp&nbsp&nbsp press hookswitch 5 times, reply DONE2#</li>
        <li>MODE3#  &nbsp&nbsp&nbsp&nbsp press NAV ENTER, reply DONE3#</li>
    </ul>
</div>


<hr color="#8f8f8f" width="50%" align="left" size="1px">
<br>
<table style="float:left">
    <tr style="text-align:center">
        <td style="height:25px">CELL_81: 2030</td>
        <td>CELL_53: 2002</td>
        <td>CELL_69: 2018</td>
        <td>DUT_01: 2002/2010</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px">CELL_82: 2031</td>
        <td>CELL_55: 2004</td>
        <td>CELL_71: 2020</td>
        <td>DUT_02: 2003/2011</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px">CELL_83: 2032</td>
        <td>CELL_57: 2006</td>
        <td>CELL_73: 2022</td>
        <td>DUT_03: 2004/2012</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px">CELL_84: 2033</td>
        <td>CELL_59: 2008</td>
        <td>CELL_75: 2024</td>
        <td>DUT_04: 2005/2013</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px">CELL_85: 2034</td>
        <td>CELL_61: 2010</td>
        <td>CELL_77: 2026</td>
        <td>DUT_05: 2006/2014</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px">CELL_86: 2035</td>
        <td>CELL_63: 2012</td>
        <td>CELL_79: 2028</td>
        <td>DUT_06: 2007/2015</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px"></td>
        <td>CELL_65: 2014</td>
        <td></td>
        <td>DUT_07: 2008/2016</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px"></td>
        <td>CELL_67: 2016</td>
        <td></td>
        <td>DUT_08: 2009/2017</td>
    </tr>
    <tr style="text-align:center">
        <td style="height:25px">Lcd robot: 2038/2045</td>
        <td>Diag robot: 2036/2043</td>
        <td>Keypad robot: 2037/2044</td>
        <td>Bst robot: 2018</td>
    </tr>
</table>


{% endblock content %}